node_modules/
**/package-lock.json
compile-*
*.vsix

**/dist/*.min.js
**/dist/*.js.map
**/dist/testBundle.js
**/dist/private
**/dist/*.min.js.gz
**/dist/*.min.js.map.gz
**/dist/*exiftool*
**/dist/volume
**/dist/WEB-INF
**/dist/X29
**/dist/*.whl
**/dist/report.html

**/web-0.4/*.min.js
**/web-0.4/*.js.map
**/web-0.4/testBundle.js
**/web-0.4/private
**/web-0.4/*.min.js.gz
**/web-0.4/*.min.js.map.gz
**/web-0.4/*exiftool*
**/web-0.4/volume
**/web-0.4/WEB-INF
**/web-0.4/X29
**/web-0.4/*.whl
**/web-0.4/report.html

**/pdfjs-legacy/*

vol
*-res-config.mjs
