node_modules/
**/package-lock.json
compile-*
*.vsix

**/dist/*.min.js
**/dist/*.js.map
**/dist/testBundle.js
**/dist/private
**/dist/*.min.js.gz
**/dist/*.min.js.map.gz
**/dist/*exiftool*
**/dist/volume
**/dist/WEB-INF
**/dist/X29
**/dist/*.whl
**/dist/report.html

**/web-dist/*.min.js
**/web-dist/*.js.map
**/web-dist/testBundle.js
**/web-dist/private
**/web-dist/*.min.js.gz
**/web-dist/*.min.js.map.gz
**/web-dist/*exiftool*
**/web-dist/volume
**/web-dist/WEB-INF
**/web-dist/X29
**/web-dist/*.whl
**/web-dist/report.html

**pdfjs-legacy/*
cmaps

vol
*-res-config.mjs
