node_modules
*-del
# dist is copied to docker image
# !react-quiz/dist
*/dist/*.min.js*
**/dist/*
**/dist/docs
**/dist/img/sample.png
!**/dist/*.html
**/dist/report.html
!**/dist/*.json
!**/dist/*.css
!**/dist/res-vol

**/web-dist/*.min.js*
**/web-dist/*
**/web-dist/docs
**/web-dist/img/sample.png
!**/web-dist/*.html
**/web-dist/report.html
!**/web-dist/*.json
!**/web-dist/*.css
!**/web-dist/res-vol
!**/web-dist/pdfjs-legacy
**/web-dist/pdfjs-legacy/*
!**/web-dist/pdfjs-*/*.md

**/private.html
**/private.json
**/*.back.*
**/private
_build
album/products
package-lock.json

**/.npmrc
