node_modules
*-del
# dist is copied to docker image
# !react-quiz/dist
*/dist/*.min.js*
**/dist/*
**/dist/docs
**/dist/img/sample.png
!**/dist/*.html
**/dist/report.html
!**/dist/*.json
!**/dist/*.css
!**/dist/res-vol

**/private.html
**/private.json
**/*.back.*
**/private
_build
album/products
package-lock.json

**/.npmrc
