node_modules
*-del
# dist is copied to docker image
# !react-quiz/dist
*/dist/*.min.js*
**/dist/* 
**/dist/docs
**/dist/img/sample.png
!dist/*.html
**/private.html
**/private.json
**/*.back.*
private
_build
package-lock.json
