<form id="irform">
	<table width="100%" cellspacing="8" border="0"  class="ir-modal">
		<tr><td align="right" style="width:70px">名称</td>
			<td><input class="easyui-validatebox textbox" style="width:300px;height:22px;"
					id="domainName" ir-field="domainName" name="domainName" maxlength="100" required="required" />
			</td>
		</tr>
		<tr><td align="right" style="width:70px">代码</td>
			<td><input class="easyui-validatebox textbox" style="width:300px;height:22px;"
					id="domainId" ir-field="domainId" name="domainId" maxlength="45" required="required" />
			</td>
		</tr>
		<tr><td align="right" style="width:70px">值</td>
			<td><input class="easyui-validatebox textbox" style="width:300px;height:22px;"
					id="domainValue" ir-field="domainValue" name="domainValue" maxlength="45" />
			</td>
		</tr>
		<tr>
			<td align="right" style="width:70px">上级分类</td>
			<td><input class="easyui-combotree" style="width:300px;height:22px;"
				id="parentId" ir-field="parentId" name="parentId" ir-cbbtree="comboxtree-domain"/>
			</td>
		</tr>
		<tr>
			<td align="right" style="width:60px">显示顺序</td>
			<td><input class="easyui-numberspinner" data-options="min:1,max:100,editable:false"
					style="width:300px;height:22px;"
					id="sort" ir-field="sort" name="sort" value="1" />
			</td>
		</tr>
		<tr>
			<td colspan="2" align="center" height="40">
				<a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-save'" onclick="save()">保存</a>&emsp;
				<a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-cancel'" onclick="EasyModal.close()">关闭</a>
			</td>
		</tr>
	</table>
</form>
