<form id="usrmodal" >
	<table width="100%" cellspacing="10" border="0" class="ir-modal">
		<tr>
			<td align="right" style="width:80px">User ID</td>
			<td>
				<input class="easyui-validatebox textbox" style="width:120px;height:25px;"
					id="userId" ir-field="userId" name="userId" maxlength="12" required="required" />
			</td>
			<td align="right" style="width:72px">Password</td>
			<td>
				<input class="easyui-validatebox textbox" style="width:120px;height:25px;" value="odys-z.github.io"
					id="pswd" ir-field="pswd" name="pswd" maxlength="12" required="required" />
			</td>
			<td align="right" style="width:80px">Name</td>
			<td>
				<input class="easyui-validatebox textbox" style="width:120px;height:25px;"
					id="userName" ir-field="userName" name="userName" maxlength="12" required="required" />
			</td>
		</tr>

		<tr>
			<td align="right" style="width:80px">Orgnization</td>
			<td>
				<input class="easyui-combobox easyui-validatebox textbox" style="width:120px;height:25px;"
					id="orgId" ir-field="orgId" ir-cbb="orgs" name="orgId"
					data-options="valueField:'value',textField:'text'" />
			</td>

			<td align="right" style="width:60px">Department</td>
			<td>
				<input class="easyui-combobox" style="width:120px;height:25px;"
					id="dept" ir-field="departId" ir-cbb="departs.org, {@user.orgId}" name="departId"
					data-options="valueField:'value',textField:'text'" />
			</td>

			<td align="right" style="width:60px">Role</td>
			<td>
				<input class="easyui-combobox" style="width:120px;height:25px;"
					id="roleId" ir-field="roleId" ir-cbb="roles" name="roleId"
					data-options="valueField:'value',textField:'text'" />
			</td>
		</tr>

		<tr>
			<td align="right" style="width:80px">Email</td>
			<td>
				<input class="easyui-validatebox textbox" style="width:120px;height:25px;"
					id="email" ir-field="email" name="email" maxlength="25" />
			</td>

			<td align="right" style="width:60px">FAX</td>
			<td>
				<input class="easyui-validatebox textbox" style="width:120px;height:25px;"
					id="fax" ir-field="fax" name="fax" maxlength="25" />
			</td>
			<td align="right" style="width:60px">Gendre</td>
			<td>
				<select class="easyui-combobox" style="width:120px;height:25px;"
					id="userGenderCode" ir-field="userGenderCode" name="userGenderCode"
					data-options="panelHeight:'auto'">
					<option value="1">Male</option>
					<option value="0">Female</option>
				</select>
			</td>
		</tr>

		<tr>
			<td align="right" style="width:80px">Addr.</td>
			<td colspan="3">
				<input class="easyui-validatebox textbox" style="width:350px;height:25px;"
					id="address" ir-field="address" name="address" maxlength="50" />
			</td>
			<td align="right" style="width:60px">Mobile</td>
			<td>
				<input class="easyui-validatebox textbox" style="width:120px;height:25px;"
					id="mobile" ir-field="mobile" name="mobile" maxlength="25" data-options="validType:'mobile'"/>
			</td>
		</tr>

		<tr>
			<td align="right" style="width:80px">Remarks</td>
			<td colspan="4">
				<input class="easyui-textbox" style="width:100%;height:60px"
					id="notes" ir-field="notes" name="notes" value=" "
					data-options="multiline:true" />
			</td>
			<td>
				<img ir-field="img" ir-expr="extFile(att.uri)" class="b64img"
					src="../../../Content/images/personIma.png">
			</td>
		</tr>

		<tr style="height:30px"><td/>
			<td colspan="5"><div id="fileDisplayArea"></div></td>
		</tr>
		<tr>
			<td align="right" style="width:80px">Image</td>
			<td colspan="5">
				<input type="file" id="fileInput">
			</td>
		</tr>

		<tr>
			<td colspan="6" align="center" height="40">
				<a id="btnSave" href="#" class="easyui-linkbutton ir-hmargin"
					data-options="iconCls:'icon-save'" onclick="save()">Save</a>
				<a href="#" class="easyui-linkbutton ir-hmargin"
					data-options="iconCls:'icon-cancel'" onclick="EasyModal.close()">Cancel</a>
			</td>
		</tr>
	</table>
</form>
