<form id="rolemodal" style="width: 100%; height: 350px" data-options="fit:true" >
	<table style="width: 100%; height: 350px" cellspacing="10" border="0" class="ir-modal" data-options="fit:true" >
		<tr><td align="right" > Role Name: </td>
			<td><input class="easyui-validatebox textbox" style="width:100%;height:25px;"
					id="roleName" ir-field="roleName" name="roleName"
					maxlength="40" required="required" placeholder="Role Name (max 40)" />
		</td></tr>
		<tr style="height: 291px">
			<td style="width: 30%">
				<table id="rflist" ir-t="a_roles:r,l:a_domain:d r.roleClass=d.domainValue and d.parentId='roleclass'"
						ir-onselect="role.loadRights" ir-select="{@role.roleId}"
						class="easyui-datagrid" style="height:260px"
						data-options="fit:true,rownumbers:true,singleSelect:true,striped:true,">
					<thead>
						<tr>
							<th data-options="field:'roleId',width:0" align="center" hidden="hidden">roleId</th>
							<th data-options="field:'roleName',width:100" align="center">Role</th>
							<th data-options="field:'roleClass',width:80" align="center" ir-expr="d.domainName">Domain</th>
						</tr>
					</thead>
				</table>
			</td>
			<td style="width:30%;height:291px">
				<!-- role's function rights -->
				<div class="easyui-layout" data-options="fit:true,border:false">
					<div data-options="region:'center',split:false,border:false" style="width:100%" title="Role's Function">
						<!-- ir-argsfunc and ir-batchup are deprecated
							ir-cbbtree is not used beause this tree is handled in role.rolefuncs(). Nothing automatically triggered here.
							ir-cbbtree is showing another way of auto binding, if ir-field presented.
							ir-argsfunc="getRoleId" ir-batchup="callback: jsonFormatSample('#irtree', 'a_role_funcs')"
							NOTE: the parameter is not {@role.roleId}, it's different from {@roleId}.
								The latter is set by user.js/Role.loadRights().
							FIXME items with checked: false (or 0) are also shown as checked.
						-->
						<ul id="rftree" ir-tree="trees.role_funcs, {@roleId}"
							class="easyui-tree" lines="true" style="margin-top: 3px;"
							data-options="animate:true,checkbox:true" ></ul>
					</div>
				</div>
			</td>
			<td >
				<div id='wfs' ir-cbb='ezcbb-workflows, {@role.roleId}' ir-onchange='role.cheaprights' ir-select='0'
					class="easyui-combobox easyui-validatebox textbox" style="width:100%;height:22px;"
					data-options="valueField:'value',textField:'text'" ></div>
				<!-- workflow rights -->
				<div class="easyui-layout" data-options="fit:true,border:false,">
					<!-- query condition: wfId -->
					<div data-options="region:'center',split:false,border:false" style="width:100%" title="Workflow Commands">
						<!-- This example also proved that we need a ir-grid attribuite.
								data-options="fit:true,singleSelect:true, striped:true ">
						-->
						<table id="wfright" class="easyui-treegrid"
								ir-treegrid="wf-rights.tree, {@wfId}, {@roleId}"
								data-options="idField: 'value', treeField: 'nodeName',checkbox: true,singleSelect:false, lines: true,fit:true, striped:true">
							<thead>
								<tr><!-- select false checked, n.nodeId, nodeName, n.nodeId cmd, '' txt, '' roleId,
										concat(n.wfId, '/', n.nodeId) fullpath, 0 sort, null parent -->
									<th data-options="field:'nodeId',width:0" hidden="hidden">nodeId</th>
									<th data-options="field:'value',width:0" hidden="hidden">cmdId</th>
									<th data-options="field:'nodeName',width:140" align="center" >Node</th>
									<th data-options="field:'checked',checkbox:true,width:40" align="center"></th>
									<th data-options="field:'text',width:120" >Command</th>
								</tr>
							</thead>
						</table>

						<!-- ir-t style, should also works for binding
						<table id="wfright" class="easyui-datagrid"
						   ir-t="oz_workflow:w,
								j:oz_wfnodes:n n.wfId=w.wfId,
								l:oz_wfcmds:cmd cmd.nodeId=n.nodeId,
								l:oz_wfrights:a a.nodeId=n.nodeId and a.cmdFilter='a',
								l:oz_wfrights:b a.nodeId=n.nodeId and b.cmdFilter='b'"
							data-options="fit:true, rownumbers:true,singleSelect:true, striped:true ">
							<thead>
								<tr>
									<th data-options="field:'nodeId',width:0" ir-expr='n.nodeId' hidden="hidden">nodeId</th>
									<th data-options="field:'cmd',width:0" ir-expr='cmd.cmd' hidden="hidden">cmdId</th>
									<th data-options="field:'nodeName',width:60" ir-expr='n.nodeName' align="center" >Node</th>
									<th data-options="field:'cmdName',width:60" ir-expr='cmd.txt' align="center" >Command</th>
									<th data-options="field:'canCommit',checkbox:true,width:40"
												ir-expr="ifnull(a.cmdFilter, false, true)" align="center">Commit</th>
									<th data-options="field:'canExt',checkbox:true,width:40"
												ir-expr="b.cmdFilter is not null" align="center">Ext</th>
								</tr>
							</thead>
						</table>
						-->
					</div>
				</div>
			</td>
		</tr>
		<tr><td colspan='3'>
			<!-- ir-field used here to trigger auto binding -->
			<div id="roles-pager" ir-size="20" ir-grid="rflist" ir-field="roleId"></div>
		</td></tr>
		<tr><td colspan="3" align="center" height="40">
			<a id="btnSaveRole" href="#" class="easyui-linkbutton ir-hmargin"
				data-options="iconCls:'icon-save'" onclick="role.save()">Save</a>
			<a href="#" class="easyui-linkbutton ir-hmargin"
				data-options="iconCls:'icon-cancel'" onclick="EasyModal.close()">Cancel</a>
		</td></tr>
	</table>
</form>
